.env

.idea/
*.iml
*.iws
*.ipr
.vscode/
.DS_Store

server/target/

android/.gradle/
android/build/
android/app/build/
android/local.properties
android/captures/
android/.externalNativeBuild/
android/.cxx/

*.db
*.log
